<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sms sender </title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container well" style="width:500px;height:350px;position:relative;top:100px;">
        <h3>sms app</h3><br>
        <form action="/send" method="POST">
        <div class="form-group">
            <label class="control-label" for="name">Enter the name</label><br>
            <input type="text" name="name" class="form-control"/><br>
        </div>
        <div class="form-group">
            <label class="control-label" for="number">Enter the number</label><br>
            <input type="text" name="number" class="form-control"/><br>
        </div>
             <input type="submit" value="send" class="btn btn-info"/>
        </form>
    </div>
</body>
</html>