<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sms sent</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container well" style="position:relative;top:70px;width:500px;height:200px;">
        <h3>message sent successfully</h3>
        <a href="/" class="btn btn-info text-center">back</a>
    </div>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>